
body{
  height: 100vh;
  background-color: black;
  text-align: center;
  color: white;
}

section{
  margin: auto;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 24px;
}

p{
  padding: 20px;
  font-size: 24px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: orange;
  text-decoration: none;
}

